/* Imports */
@import "./base/_global";
@import "./base/_fonts.css";
@import "./base/_colour.css";

/* Dog Food calculator */
.dog-food-calculator {
	padding: 1.5rem;
	overflow: hidden;
	border-radius: 10px;
	color: var(--white);
	margin-bottom: 1.5rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("./../assets/svg/dog-food-calculator-background-blob.svg");
}

.dog-food-calculator form {
	margin-bottom: 0rem;
}

.dog-food-calculator .background-bottom-images,
.background-top-images {
	position: relative;
}

.dog-food-calculator .background-top-images {
	position: relative;
}

.dog-food-calculator .background-bottom-images,
.background-top-images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.dog-food-calculator .background-top-images .image-one {
	right: 5px;
	height: 75px;
	bottom: -63px;
	rotate: 15deg;
	display: flex;
	grid-gap: 0.5rem;
	width: fit-content;
	position: absolute;
	flex-direction: column;
}

.dog-food-calculator .background-top-images .image-one .title {
	font-size: 16px;
	max-width: 175px;
	font-weight: 700;
	margin: 0 auto;
	color: var(--white);
	letter-spacing: 0.25px;
	font-family: var(--main);
	text-transform: uppercase;
}

.dog-food-calculator .background-bottom-images .image-one {
	right: -90px;
	height: 250px;
	bottom: -65px;
	width: fit-content;
	position: absolute;
}

.dog-food-calculator .background-bottom-images .image-two,
.image-three,
.image-four {
	height: 100px;
	width: fit-content;
	position: absolute;
}

.dog-food-calculator .background-bottom-images .image-two {
	left: 190px;
	bottom: -20px;
	height: 100px;
	rotate: -15deg;
	width: fit-content;
}

.dog-food-calculator .background-bottom-images .image-three {
	right: 290px;
	bottom: 10px;
	height: 75px;
	rotate: -15deg;
	width: fit-content;
}

.dog-food-calculator .background-bottom-images .image-four {
	left: 10px;
	bottom: 100px;
	height: 100px;
	rotate: 15deg;
	width: fit-content;
}

.dog-food-calculator .foodCalc-title {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 2.5rem;
	color: var(--white);
	letter-spacing: 0.25px;
	font-family: var(--main);
	text-transform: uppercase;
}

.dog-food-calculator .form-fieldset-select {
	display: grid;
	padding: 1rem;
	grid-gap: 2rem;
	border-radius: 10px;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	/* background-color: var(--darkRed); */
}

.dog-food-calculator .foodCalc-fieldset {
	display: grid;
	grid-row: 1fr;
	grid-gap: 1.5rem;
	grid-template-columns: 1fr 1fr 1fr;
}

.dog-food-calculator .foodCalc-fieldset .foodCalc-select {
	margin-right: 0;
	text-align: center;
}

.dog-food-calculator .foodCalc-fieldset .foodCalc-select .form-radio {
	border: 0;
	width: 1px;
	padding: 0;
	height: 1px;
	overflow: hidden;
	position: absolute;
	line-height: normal;
	clip: rect(1px, 1px, 1px, 1px);
}

.dog-food-calculator .foodCalc-fieldset .foodCalc-select .foodCalc-label {
	height: 100%;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 4px;
	position: relative;
	grid-gap: 1rem;
	background-color: var(--darkRed);
	/* border: 2px solid var(--red); */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dog-food-calculator
	.foodCalc-fieldset
	.foodCalc-select
	.foodCalc-label
	.dog-bone {
	width: 100%;
	height: 75px;
	object-fit: contain;
	object-position: center;
}

.dog-food-calculator .foodCalc-fieldset .foodCalc-select .foodCalc-label label {
	font-size: 20px;
	letter-spacing: 0.3px;
	font-family: var(--main);
}

.dog-food-calculator .foodCalc-fieldset .foodCalc-select label {
	display: block;
	font-weight: 700;
	font-size: 1rem;
	color: var(--white);
}

.dog-food-calculator
	.foodCalc-fieldset
	.foodCalc-select
	.foodCalc-select
	.form-radio:checked
	~ .foodCalc-label {
	background-color: #d9d9d9;
}

.dog-food-calculator .foodCalc-inputs-options {
	cursor: pointer;
	padding: 1rem;
	border-radius: 4px;
}

.dog-food-calculator .foodCalc .foodCalc-input {
	display: flex;
	padding-top: 1.5rem;
	align-items: center;
	margin-bottom: 1.5rem;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.dog-food-calculator .foodCalc .foodCalc-input:nth-last-child(4) {
	border-top: none;
}

.dog-food-calculator .foodCalc .foodCalc-input #foodCalc-weight,
#foodCalc-age {
	margin-bottom: 0rem;
}

.dog-food-calculator .foodCalc .foodCalc-input label {
	cursor: auto;
	font-weight: 700;
	line-height: 1.5;
	font-size: 1rem;
	color: var(--white);
	margin-bottom: 0rem;
	letter-spacing: 0.05rem;
	font-family: var(--body);
}

.dog-food-calculator .foodCalc-label .fa-bone {
	left: 50%;
	font-size: 22px;
	top: 0.78571rem;
	position: absolute;
	transform: rotate(-45deg) translate(-50%);
}

.dog-food-calculator .foodCalc .foodCalc-input-results {
	display: flex;
	padding: 1rem;
	margin: 0;
	max-width: 850px;
	flex-direction: column;
}

.dog-food-calculator .foodCalc input {
	display: flex;
	cursor: pointer;
	font-weight: 800;
	color: var(--black);
	align-items: center;
	margin-bottom: 1.5rem;
	font-family: var(--body);
	justify-content: space-between;
}

.dog-food-calculator .foodCalc .foodCalc-input div {
	cursor: auto;
	font-weight: 700;
	line-height: 1.5;
	font-size: 1.75rem;
	color: var(--white);
	margin-bottom: 0rem;
	letter-spacing: 0.05rem;
	font-family: var(--main);
}

.dog-food-calculator .foodCalc .foodCalc-input #foodCalc-result {
	cursor: auto;
	font-weight: 700;
	line-height: 1.5;
	font-size: 1.25rem;
	color: var(--white);
	margin-bottom: 0rem;
	letter-spacing: 0.05rem;
	font-family: var(--body);
}

.dog-food-calculator .foodCalc p {
	cursor: auto;
	font-weight: 500;
	line-height: 1.5;
	max-width: 700px;
	font-size: 1rem;
	color: var(--white);
	margin-bottom: 0rem;
	letter-spacing: 0.05rem;
	font-family: var(--body);
}

.dog-food-calculator .foodCalc p b,
strong {
	cursor: auto;
	font-weight: 500;
	line-height: 1.5;
	font-size: 1rem;
	color: var(--white);
	margin-bottom: 0rem;
	letter-spacing: 0.05rem;
	font-family: var(--body);
	border-bottom: 2px solid var(--yellow);
}

.dog-food-calculator .foodCalc-result {
	font-weight: 900;
	line-height: 1.5;
	font-size: 1rem;
	color: var(--white);
	letter-spacing: 0.05rem;
	font-family: var(--body);
	border-bottom: 2px solid var(--yellow);
}

.dog-food-calculator .foodCalc .foodCalc-input .form-input {
	border: none;
	width: 4.2rem;
	text-align: center;
	padding: 0.35714rem;
	background-color: var(--greyLighter);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1280px) {
	.dog-food-calculator .foodCalc-title {
		text-align: center;
	}

	.dog-food-calculator .form-fieldset-select {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr;
	}

	.dog-food-calculator .foodCalc-fieldset {
		display: grid;
		grid-row: 1fr;
		grid-gap: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.dog-food-calculator .background-top-images .image-one {
		display: none;
	}

	.dog-food-calculator .background-bottom-images .image-one,
	.image-three {
		display: none;
	}
}

/* Extra large devices (large laptops and desktops, 840px and up) */
@media only screen and (max-width: 840px) {
	.dog-food-calculator {
		background-image: url("./../assets/svg/dog-food-calculator-background-blob-mobile.svg");
	}

	.dog-food-calculator .foodCalc .foodCalc-input {
		display: flex;
		grid-gap: 1rem;
		flex-direction: column;
	}

	.dog-food-calculator .foodCalc .foodCalc-input #foodCalc-result {
		font-size: 1.5rem;
	}
}

/* Extra large devices (large laptops and desktops, 640px and up) */
@media only screen and (max-width: 640px) {
	.dog-food-calculator .foodCalc-fieldset {
		grid-row: 1fr;
		grid-template-columns: 1fr;
	}
}
