/* Colours Variables */

:root {
	--black: #fa1d26;
	--red: #fa1d26;
	--white: #ffffff;
	--yellow: #e78f01;
	--darkRed: #a70107;
	--lightRed: #fa797e;
	--darkerRed: #720004;
	--darkerRedTwo: #4e0104;

	--greyLight: #d9d9d9;
	--greyLighter: #ececec;
}
